*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}

.main__container{
    float: left;
    width: 100%;
    border: 2px solid rgb(19, 170, 19);
    height: 799px;
    /* background-image: url(./img/Lead-image\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover; */
}
.side_bar{
    border: 2px solid blue;
    height: 599px;
    width: 10%;
    float: left;
    border-radius: 2%;
   }
.main_body{
    border: 2px solid rgb(236, 37, 37);
    height: 599px;
    width: 90%;
    float: left;
}
.music_img{
    width: 30%;
    float: left;
    height: 200px;
    border: 2px solid purple;
    border-radius:5%;
}
.space_content{
    width: 70%;
    float: left;
    height: 200px;
    /* border: 2px solid rgb(11, 87, 100); */

}

.music_render{
    height: 370px;
    width:100%;
    /* border: 2px solid rgb(184, 166, 8); */
    float: left;
    margin-top: 10px;
    padding: 20px;
}
.music{
    width: 90%;
    height: 35px;
    /* background-color:sandybrown ; */
    margin-top: 10px;
    /* border: 2px solid indigo; */

    color: beige;
    text-align: center;
    /* padding: 10px; */
    cursor: pointer;
    float: left;
    background-color: rgba(128, 128, 128, 0.363);
}
.No_data{
    text-align: center;
    color: #f1f1f1;
    position: relative;
    top: 100px;
    font-size: 40px;
}
.fixed_play_bar{
    position: fixed;
    top: 575px ;
    height: 80px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.336);
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
    color: #f1f1f1;
}
.contain_img{
    width: 100%;
    height: 200px;
    border-radius:3%;
}
.tune{
    float: left;
    width: 100%;
    border: 2px solid grey;
    height: 70px;
    color: #39c7cc;
    padding-left: 5px;
    }
.lorem{
    float: left;
    width: 100%;
    /* border: 2px solid rgb(163, 24, 24); */
    height: 70px;color: #f1f1f1;
    font-size: 15px;
    padding-left: 5px;
}
.play_add_love{
    float: left;
    width: 100%;
    /* border: 2px solid rgb(52, 23, 184); */
    height: 50px;
}
.tomo{
    position: relative;
    top: 55%;
}
.play,.love,.add{
    float: left;
    width: 32%;
    height: 30px;
    /* border:2px solid orangered ; */
    margin-left: 8px;
    margin-top: 5px;
    color: #f1f1f1;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.342);
    border-radius: 5%;
}
.small_img{
    float: left;
    height:35px;
    width:5%;
    border-radius: 10%;
}
.shift{
    font-family: cursive;
    font-size: 15px;
}


.spinner{
    height: 100px;
    width: 100px;
    border-radius:50%;
    border: 5px solid purple;
    border-left: 5px solid green;
    border-right: 5px solid rgb(128, 105, 0);
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: relative;
    left: 50%;
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg)
    }
}

.love{
    color: red;
}